body{
    background-color:darkred
    
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}

h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    color: whitesmoke;
}

a{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}
