   body{
        background-color: #111827;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
        header h1{
        text-align: center;
    }
        nav h2{
        text-align: center;
    }
        nav h3{
        text-align: justify;
        margin: 20px;
    }
        nav p{
        text-align: justify;
        margin: 20px;
    }
    ''