   body{
        background-color: #111827;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: justify;
        margin: 20px;
    }
    p{
        text-align: justify;
        margin: 20px;
    }
